<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>JeeHx快速开发平台底部</title>
</head>
<body>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Version 1.0.0
    </div>
    Copyright &copy; 2019 <a href="https://www.jeehx.com" target="_blank">JeeHx快速开发平台</a> All Rights Reserved
  </footer>
	<script src="${BASE_PATH}statics/${template}/libs/jquery.min.js"></script>
	<script src="${BASE_PATH}statics/${template}/libs/vue.min.js"></script>
	<script src="${BASE_PATH}statics/${template}/libs/router.js"></script>
	<script src="${BASE_PATH}statics/${template}/libs/bootstrap.min.js"></script>
	<script src="${BASE_PATH}statics/${template}/libs/app.js"></script>
	<script src="${BASE_PATH}statics/${template}/plugins/layer/layer.js"></script>
	<script src="${BASE_PATH}statics/${template}/js/index.js"></script>  
</body>
</html>